.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
  position: relative;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }

  &__pagenumber {
    color: #ff6565;
    background-color: #f9f5f3;
    border-radius: 2.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 45%;
    top: -0.2rem;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
